.page {
    position: relative;
    max-width: 960px;
    width: 100%;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family:'Andale$MonoW01-Regular';
    background-color: #FFF;
}

#title img {
    width: 270px;
}

#hr {
    position: absolute;
    top: 35px;
}

#sociallinks {
    position: absolute;
    top: -25px;
    right: 0px;
}

#sociallinks a {
    text-decoration: none;
}

.nav {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 560px;
    margin-bottom: 100px;
}

.nav a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

#cartoonimg {
  width: 100px;
  height: 40px;
  background: url(../../static/img/navhover1.png);
  display: inline-block;
  background-repeat: no-repeat;
}

#cartoonimg:hover {
  background-position: 0px -55px;
}

#texteimg {
  width: 100px;
  height: 40px;
  background: url(../../static/img/navhover2.png);
  display: inline-block;
  background-repeat: no-repeat;
}

#texteimg:hover {
  background-position: 0px -60px;
}

#newsimg {
  position: relative;
  width: 100px;
  height: 40px;
  background: url(../../static/img/navhover3.png);
  display: inline-block;
  top: 2px;
  background-repeat: no-repeat;
}

#newsimg:hover {
  background-position: 0px -56px;
}

#portraitimg {
  position: relative;
  width: 100px;
  height: 40px;
  background: url(../../static/img/navhover4.png);
  display: inline-block;
  top: 2px;
  background-repeat: no-repeat;
}

#portraitimg:hover {
  background-position: 0px -53px;
}

#kontaktimg {
  position: relative;
  width: 100px;
  height: 40px;
  background: url(../../static/img/navhover5.png);
  display: inline-block;
  top: 2px;
  background-repeat: no-repeat;
}

#kontaktimg:hover {
  background-position: 0px -55px;
}

.item {
    width: 190px;
    margin: 5px;
    float: left;
    background-color: #DADBDC;
}

.item.image1-1, .item.image1-2, .item.image1-3, .item.image1-4, .item.image1-1 img, .item.image1-2 img, .item.image1-3 img, .item.image1-4 img {
  width: 110px;
}

.item.image2-1, .item.image2-2, .item.image2-3, .item.image2-4, .item.image2-1 img, .item.image2-2 img, .item.image2-3 img, .item.image2-4 img {
  width: 230px;
}

.item.image4-1, .item.image4-2, .item.image4-3, .item.image4-4, .item.image4-1 img, .item.image4-2 img, .item.image4-3 img, .item.image4-4 img {
  max-width: 470px;
  width: 100%;
}

.item.image1-1, .item.image2-1, .item.image3-1, .item.image4-1, .item.image1-1 img, .item.image2-1 img, .item.image3-1 img, .item.image4-1 img {
  height: 110px;
}

.item.image1-2, .item.image2-2, .item.image3-2, .item.image4-2, .item.image1-2 img, .item.image2-2 img, .item.image3-2 img, .item.image4-2 img {
  height: 230px;
}

.item.image1-3, .item.image2-3, .item.image3-3, .item.image4-3, .item.image1-3 img, .item.image2-3 img, .item.image3-3 img, .item.image4-3 img {
  height: 340px;
}

.item.image1-4, .item.image2-4, .item.image3-4, .item.image4-4, .item.image1-4 img, .item.image2-4 img, .item.image3-4 img, .item.image4-4 img {
  max-height: 470px;
}

.item.imagecorner {
  max-width: 470px;
  width: 100%;
  background-color: #FFF;
}

.item.imagecorner img {
  max-width: 470px;
  width: 100%;
  background-color: #FFF;
}

.item.portrait1-1, .item.portrait1-2, .item.portrait1-3, .item.portrait1-4, .item.portrait1-1 img, .item.portrait1-2 img, .item.portrait1-3 img, .item.portrait1-4 img {
  width: 110px;
}

.item.portrait2-1, .item.portrait2-2, .item.portrait2-3, .item.portrait2-4, .item.portrait2-1 img, .item.portrait2-2 img, .item.portrait2-3 img, .item.portrait2-4 img {
  width: 230px;
}

.item.portrait4-1, .item.portrait4-2, .item.portrait4-3, .item.portrait4-4, .item.portrait4-1 img, .item.portrait4-2 img, .item.portrait4-3 img, .item.portrait4-4 img {
  width: 470px;
}

.item.portrait1-1, .item.portrait2-1, .item.portrait3-1, .item.portrait4-1, .item.portrait1-1 img, .item.portrait2-1 img, .item.portrait3-1 img, .item.portrait4-1 img {
  height: 110px;
}

.item.portrait1-2, .item.portrait2-2, .item.portrait3-2, .item.portrait4-2, .item.portrait1-2 img, .item.portrait2-2 img, .item.portrait3-2 img, .item.portrait4-2 img {
  height: 230px;
}

.item.portrait1-3, .item.portrait2-3, .item.portrait3-3, .item.portrait4-3, .item.portrait1-3 img, .item.portrait2-3 img, .item.portrait3-3 img, .item.portrait4-3 img {
  height: 340px;
}

.item.portrait1-4, .item.portrait2-4, .item.portrait3-4, .item.portrait4-4, .item.portrait1-4 img, .item.portrait2-4 img, .item.portrait3-4 img, .item.portrait4-4 img {
  height: 470px;
}

.item.category {
  padding-top: 30px;
  padding-left: 20px;
  width: 210px;
  height: 200px;
  font-size: 35px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #000;
}
/*
.item.portrait {
  width: 430px;
  height: 430px;
  background-color: #DADBDC;
}
*/

#container {
  top: 100px;
}

.corner-stamp {
  float: right;
  margin-top: 100px;
  width: 430px;
  height: 430px;
}

.archiveall {
  position: relative;
  max-width: 325px;
  width: 100%;
}

.archivecontainer {
  float: left;
  position: relative;
  max-width: 325px;
  top: 100px;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #d3d3d3;
}

.archivecontainer a {
  text-decoration: none;
}

.archivetitle {
  margin-bottom: 35px;
  text-align: center;
  font-size: 29px;
  text-transform: uppercase;
}

.archivelist {
  position: relative;
  font-size: 13px;
  width: 210px;
  padding-left: 20px;
  color: white;
}

.archivelist.active {
  background-color: #FFF;
  color: #000;
}

.regionwhite {
  float: left;
  position: relative;
  top: 85px;
  padding-left: 45px;
  max-width: 430px;
  width: 100%;
}

.texttitle, .textsubtitle, .textdate, .textcontent {
  position: relative;
  max-width: 430px;
  width: 100%;  
}

.texttitle {
  text-transform: uppercase;
}

.textcontent {
  text-align: justify;
}

.contactcontainer {
  float: left;
  position: relative;
  max-width: 290px;
  top: 100px;
  width: 92%;
  height: 415px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: #DADBDC;
}

.contact {
  text-transform: uppercase;
}

.eventall {
  float: left;
  position: relative;
  margin-top: 100px;
  max-width: 470px;
  width: 100%;
}

.eventcontainer {
  float: left;
  position: relative;
  max-width: 410px;
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-bottom: 50px;
  background-color: #000;
}

.eventcontainertitle {
  position: relative;
  left: -30px;
  text-align: center;
  font-size: 32px;
  color: #FFF;
  text-transform: uppercase;
}

.eventsingle {
  position: relative;
  max-width: 350px;
  width: 100%;
  left: -10px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  height: auto;
  background-color: #FFF;
}

.eventsingledate {
  position: relative;
  font-size: 20px;
  left: -10px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.eventsingletitle {
  font-size: 13px;
  text-transform: uppercase;
}

.eventsingledesc {
  font-size: 13px;
}

.newsarchive {
  float: left;
  position: relative;
  margin-right: 10px;
  max-width: 110px;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;  
}

.newsarchive a {
  text-decoration: none;
  color: #FFF;
}

.newsarchive.active {
  background-color: #d3d3d3;
  color: #FFF;
}

.newsarchiveall {

}

.newslist {
  position: relative;
  float: left;
  top: 100px;
  max-width: 440px;
  width: 100%;
}

.newscontainer {
  float: left;
  position: relative;
  max-width: 410px;
  width: 100%;
  height: auto;
  padding-left: 30px;
  background-color: #FFF;  
}

.newssingle {
  float: left;
  position: relative;
}

.newssingletitle {
  font-size: 17px;
  text-transform: uppercase;
}

.newssingledate {
  font-size: 16px;
  margin-bottom: 20px;
}

.newssingledesc {
  margin-bottom: 20px;
}

.newssingleimg img {
  width: 230px;
}

.hrnews {
  border: none;
  border-top: 1px dashed black; 
  height: 1px;
  color: black;
  background: transparent;
}

.portraittitle {
  font-size: 35px;
  font-weight: bold;
  color: #FFF;
}

.portraittitle2 {
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
}

.portraitsubtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
  display: none;
}

.portraitdesc {
  float: left;
  margin-left: 10px;
  display: none;
  padding-bottom: 20px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.item.big {
  max-width: 470px;
  width: 100%;
  height: auto;
}

.eventinner {
  position: relative;
}

.eventouter {
  float: left;
  max-width: 470px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}


.archiveinner {
  position: relative;
  margin-top: -100px;
}

.archiveouter {
  float: left;
  margin-top: 100px;
  width: 325px;
  height: 620px;
  overflow: hidden;
}

.navleft, .navright, .navleft2, .navright2 {
  position: relative;
  top: 6px;
  display: inline;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.navleft {
  position: relative;
  left: 20px;
}

.navright {
  position: relative;
  right: 0px;
}

@media only screen and (max-width: 925px) {
  .eventall {
    position: relative;
    left: 23%;
  }  
}

@media only screen and (max-width: 815px) {

  .archiveall {
    margin: 0 auto;
  }

  .regionwhite {
    padding-left: 0px;
    left: 23%;

  }

  .eventall {
    left: 18%;
  }
}

@media only screen and (max-width: 694px) {

  .regionwhite {
    left: 18%;
    
  }

  .eventall {
    left: 12%;
  }
}

@media only screen and (max-width: 598px) {

  .regionwhite {
    left: 11%; 
  }

  .eventall {
    left: 8%;
  }
}

@media only screen and (max-width: 569px) {

.nav {
  width: auto;
  right: 15px;
}

.nav a {
  margin-right: -20px;
}

}

@media only screen and (max-width: 529px) {

  .regionwhite {
    left: 5%; 
  }

  .eventall {
    left: 0%;
  }
}

@media only screen and (max-width: 508px) {

  .nav {
    width: 450px;
  }

  .nav a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 490px) {

  .eventcontainertitle {
    font-size: 19px;
    left: -63px;
  }

  .regionwhite {
    left: 0%; 
  }
}

@media only screen and (max-width: 473px) {

  .nav {
    width: auto;
  }

  #cartoonimg, #texteimg, #newsimg, #portraitimg, #kontaktimg {
    background-size: 68px;
    width: 68px;
  }

  #cartoonimg:hover {
    background-position: -3px -35px;
  }

  #texteimg:hover {
    background-position: 3px -40px;
  }

  #newsimg:hover {
    background-position: 0px -38px;
  }

  #portraitimg:hover {
    background-position: 0px -36px;
  }

  #kontaktimg:hover {
    background-position: 7px -38px;
  }
}

@media only screen and (max-width: 450px) {

  .regionwhite {
    left: 0%;
    margin-left: 0px;
    padding-left: 0px;
  }

}

@media only screen and (max-width: 343px) {

  .archivetitle {
    font-size: 21px;
  }

  .navleft2, .navright2 {
    font-size: 35px;
  }

  .archiveouter {
    max-width: 325px;
    width: 100%;
  }

}