.page {
    position: relative;
    max-width: 960px;
    width: 100%;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family:'Vialog LT W01 Light';
    background-color: #FFF;
}

h4 {
  text-transform: uppercase;
}

#title {
  font-size: 60px;
  font-family:'Vialog LT W01 Light';
  font-weight: bold;
}

#title a {
  text-decoration: none;
  color: #000;
}

#title img {
  position: relative;
  width: 70px;
  top: 6px;
  left: -10px;
}

#hr {
    position: absolute;
    top: 35px;
}

#sociallinks {
    position: absolute;
    top: -25px;
    right: 0px;
}

#sociallinks a {
    text-decoration: none;
}

.nav {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 560px;
    margin-bottom: 100px;
}

.nav a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
    margin-left: 35px;
    font-family:'Vialog LT W01 Light';
    font-weight: bold;
    letter-spacing: 1px;
}

#illuimg, #illuimgactive {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#illuimg:hover, #illuimgactive {
  color: #D3D3D3;
  font-weight: bold;
}

#grafikimg, #grafikimgactive {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#grafikimg:hover, #grafikimgactive {
  color: #D3D3D3;
  font-weight: bold;
}

#aktuellimg, #aktuellimgactive {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#aktuellimg:hover, #aktuellimgactive {
  color: #D3D3D3;
  font-weight: bold;
}

#portraitimg, #portraitimgactive {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#portraitimg:hover, #portraitimgactive {
  color: #D3D3D3;
  font-weight: bold;
}

#kontaktimg, #kontaktimgactive {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

#kontaktimg:hover, #kontaktimgactive {
  color: #D3D3D3;
  font-weight: bold;
}

.item {
    width: 190px;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.item.image1-1, .item.image1-2, .item.image1-3, .item.image1-4, .item.image1-1 img, .item.image1-2 img, .item.image1-3 img, .item.image1-4 img {
  width: 110px;
}

.item.image2-1, .item.image2-2, .item.image2-3, .item.image2-4, .item.image2-1 img, .item.image2-2 img, .item.image2-3 img, .item.image2-4 img {
  width: 230px;
}

.item.image4-1, .item.image4-2, .item.image4-3, .item.image4-4, .item.image4-1 img, .item.image4-2 img, .item.image4-3 img, .item.image4-4 img {
  max-width: 470px;
  width: 100%;
}


.item.imagecorner {
  max-width: 470px;
  width: 100%;
  background-color: #dcdcdc;
}

.item.imagecorner img {
  max-width: 470px;
  width: 100%;
  background-color: #FFF;
}

.item.portrait {
  background-color: #DADBDC;
  cursor: pointer;
}

.item.portrait1-1, .item.portrait1-2, .item.portrait1-3, .item.portrait1-4, .item.portrait1-1 img, .item.portrait1-2 img, .item.portrait1-3 img, .item.portrait1-4 img {
  width: 110px;
}

.item.portrait2-1, .item.portrait2-2, .item.portrait2-3, .item.portrait2-4, .item.portrait2-1 img, .item.portrait2-2 img, .item.portrait2-3 img, .item.portrait2-4 img {
  width: 230px;
}

.item.portrait4-1, .item.portrait4-2, .item.portrait4-3, .item.portrait4-4, .item.portrait4-1 img, .item.portrait4-2 img, .item.portrait4-3 img, .item.portrait4-4 img {
  width: 470px;
}

.item.portrait1-1, .item.portrait2-1, .item.portrait3-1, .item.portrait4-1, .item.portrait1-1 img, .item.portrait2-1 img, .item.portrait3-1 img, .item.portrait4-1 img {
  height: 110px;
}

.item.portrait1-2, .item.portrait2-2, .item.portrait3-2, .item.portrait4-2, .item.portrait1-2 img, .item.portrait2-2 img, .item.portrait3-2 img, .item.portrait4-2 img {
  height: 230px;
}

.item.portrait1-3, .item.portrait2-3, .item.portrait3-3, .item.portrait4-3, .item.portrait1-3 img, .item.portrait2-3 img, .item.portrait3-3 img, .item.portrait4-3 img {
  height: 340px;
}

.item.portrait1-4, .item.portrait2-4, .item.portrait3-4, .item.portrait4-4, .item.portrait1-4 img, .item.portrait2-4 img, .item.portrait3-4 img, .item.portrait4-4 img {
  height: 470px;
}

.item.category {
  padding-left: 20px;
  width: 210px;
  font-size: 35px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #dcdcdc;
  cursor: pointer;
}
/*
.item.portrait {
  width: 430px;
  height: 430px;
  background-color: #DADBDC;
}
*/

#container {
  top: 100px;
}

.supernews {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  right: 0px;
}

.supernews2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

.supernews2 img {
  width: 75px;
  height: 75px;
}

.imagetext {
  position: relative;
  width: 100%;
  top: -45px;
  padding-top: 5px;
  background-color: #dcdcdc;
  display: none;
  text-transform: uppercase;
}

.fancybox {
  text-decoration: none;
  color: #000;
}

.corner-stamp {
  float: right;
  margin-top: 100px;
  width: 430px;
  height: 430px;
}

.archiveall {
  position: relative;
  max-width: 325px;
  width: 100%;
}

.archivecontainer {
  float: left;
  position: relative;
  max-width: 325px;
  top: 100px;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #d3d3d3;
}

.archivecontainer a {
  text-decoration: none;
}

.archivetitle {
  margin-bottom: 35px;
  text-align: center;
  font-size: 29px;
  text-transform: uppercase;
}

.archivelist {
  position: relative;
  font-size: 13px;
  width: 210px;
  padding-left: 20px;
  color: white;
}

.archivelist.active {
  background-color: #FFF;
  color: #000;
}

.regionwhite {
  float: left;
  position: relative;
  top: 85px;
  padding-left: 45px;
  max-width: 430px;
  width: 100%;
}

.texttitle, .textsubtitle, .textdate, .textcontent {
  position: relative;
  max-width: 430px;
  width: 100%;  
}

.textcontent {
  font-family:'Vialog LT W01 Light';
}

.texttitle {
  text-transform: uppercase;
}

.contactcontainer {
  float: left;
  position: relative;
  max-width: 290px;
  top: 100px;
  width: 92%;
  height: 415px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: #DADBDC;
  font-family:'Vialog LT W01 Light';
}

.contact {
  text-transform: uppercase;
}

.eventall {
  float: left;
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.eventcontainer {
  float: left;
  position: relative;
  max-width: 410px;
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-bottom: 50px;
  background-color: #000;
}

.eventcontainertitle {
  position: relative;
  left: -30px;
  text-align: center;
  font-size: 32px;
  color: #FFF;
  text-transform: uppercase;
}

.eventsingle {
  position: relative;
  max-width: 350px;
  width: 100%;
  left: -10px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  height: auto;
  background-color: #FFF;
}

.eventsingledate {
  position: relative;
  font-size: 20px;
  left: -10px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.eventsingletitle {
  font-size: 13px;
  text-transform: uppercase;
}

.eventsingledesc {
  font-size: 13px;
  font-family:'Vialog LT W01 Light';
}

.newsarchive {
  float: left;
  position: relative;
  margin-right: 10px;
  max-width: 80px;
  width: 100%;
  height: 70px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #d3d3d3;  
}

.newsarchive a {
  text-decoration: none;
  color: #FFF;
}

.newsarchive.active {
  color: #000;
}

.newsarchiveall {
  position: fixed;
  bottom: 0px;
  width: 115px;
  right: -27px;
}

.newssingletitle {
  font-size: 17px;
  text-transform: uppercase;
}

.newssingledate {
  font-size: 16px;
  margin-bottom: 20px;
}

.newssingledesc {
  margin-bottom: 20px;
  font-family:'Vialog LT W01 Light';
}

.newssingleimg {
  float: left;
  width: 230px;
}

.newssingleimg img {
  width: 230px;
}

.newssingle {
  position: relative;
  margin-left: 280px;
}

.newscontainer {
  max-width: 800px;
  margin-bottom: 40px;
}

.newslist {
  position: relative;
  top: 100px;
}

.hrnews {
  position: relative;
  width: 100%;
  border: none;
  border-top: 1px dashed black; 
  height: 1px;
  color: black;
  background: transparent;
}

.portraittitle {
  font-size: 35px;
  font-weight: bold;
  color: #FFF;
}

.portraittitle2 {
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
}

.portraitsubtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  color: #000;
  display: none;
}

.portraitdesc {
  float: left;
  margin-left: 10px;
  display: none;
  padding-right: 5px;
  padding-bottom: 20px;
  font-family:'Vialog LT W01 Light';
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.item.big {
  max-width: 470px;
  width: 100%;
  height: auto;
}

.eventinner {
  position: relative;
}

.eventouter {
  float: left;
  max-width: 470px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}


.archiveinner {
  position: relative;
  margin-top: -100px;
}

.archiveouter {
  float: left;
  margin-top: 100px;
  width: 325px;
  height: 620px;
  overflow: hidden;
}

.navleft, .navright, .navleft2, .navright2 {
  position: relative;
  top: 6px;
  display: inline;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.navleft {
  position: relative;
  left: 20px;
}

.navright {
  position: relative;
  right: 0px;
}

.cartoon_detail_ajax {
  margin-top: 100px;
  width: auto;
}

.ajaxtext {
  font-family:'Vialog LT W01 Light';
  width: 600px;
}

@media only screen and (max-width: 930px) {
  .newsarchiveall {
    position: relative;
    max-width: 930px;
    width: auto;
    right: 0px;
  }

  .newsarchive {
    max-width: 80px;
    height: 70px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 815px) {

  .archiveall {
    margin: 0 auto;
  }

  .regionwhite {
    padding-left: 0px;
    left: 23%;

  }
}

@media only screen and (max-width: 694px) {

  .regionwhite {
    left: 18%;
    
  }
}

@media only screen and (max-width: 598px) {

  .regionwhite {
    left: 11%; 
  }
}

@media only screen and (max-width: 569px) {

  .nav {
    width: auto;
  }
}

@media only screen and (max-width: 556px) {

  .nav a {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 550px) {

  .newssingleimg {
    float: none;
    margin: 0 auto;
  }

  .newscontainer {
    max-width: 800px;
    width: 100%;
  }

  .newssingle {
    max-width: 500px;
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 529px) {

  .regionwhite {
    left: 5%; 
  }
}

@media only screen and (max-width: 508px) {

}

@media only screen and (max-width: 490px) {

  .eventcontainertitle {
    font-size: 19px;
    left: -63px;
  }

  .regionwhite {
    left: 0%; 
  }
}

@media only screen and (max-width: 473px) {

  .nav a {
    font-size: 14px;
    margin-left: 1px;
  }

}

@media only screen and (max-width: 470px) {

  .item.image1-4, .item.image2-4, .item.image3-4, .item.image4-4, .item.image1-4 img, .item.image2-4 img, .item.image3-4 img, .item.image4-4 img {
    max-height: 470px;
    height: auto;
  }
}

@media only screen and (max-width: 450px) {

  .regionwhite {
    left: 0%;
    margin-left: 0px;
    padding-left: 0px;
  }

}

@media only screen and (max-width: 382px) {

  #title {
    font-size: 43px;
  }

  #title img {
    width: 55px;
  }

}

@media only screen and (max-width: 360px) {

  .nav a {
    font-size: 12px;
    margin-left: -2px;
  }

}

@media only screen and (max-width: 343px) {

  .archivetitle {
    font-size: 21px;
  }

  .navleft2, .navright2 {
    font-size: 35px;
  }

  .archiveouter {
    max-width: 325px;
    width: 100%;
  }

}