.page {
    position: relative;
    max-width: 960px;
    width: 100%;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #FFF;
}

#title img {
    width: 270px;
}

#hr {
    position: absolute;
    top: 35px;
}

#sociallinks {
    position: absolute;
    top: -25px;
    right: 0px;
}

#sociallinks a {
    text-decoration: none;
}

.nav {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 535px;
}

.nav a {
    margin-left: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.nav img {
  width: 100px;
  height: 25px;
}

#cartoonimg, #texteimg, #newsimg, #portraitimg, #kontaktimg {
  display: none;
}

#acartoon, #atexte, #anews, #aportrait, #akontakt {
  display: inline;
}

#container {
    top: 100px;
}

.item {
    width: 190px;
    margin: 5px;
    float: left;
}

.item.image1-1, .item.image1-2, .item.image1-3, .item.image1-4, .item.image1-1 img, .item.image1-2 img, .item.image1-3 img, .item.image1-4 img {
  width: 110px;
}

.item.image2-1, .item.image2-2, .item.image2-3, .item.image2-4, .item.image2-1 img, .item.image2-2 img, .item.image2-3 img, .item.image2-4 img {
  width: 230px;
}

.item.image4-1, .item.image4-2, .item.image4-3, .item.image4-4, .item.image4-1 img, .item.image4-2 img, .item.image4-3 img, .item.image4-4 img {
  width: 470px;
}

.item.image1-1, .item.image2-1, .item.image3-1, .item.image4-1, .item.image1-1 img, .item.image2-1 img, .item.image3-1 img, .item.image4-1 img {
  height: 110px;
}

.item.image1-2, .item.image2-2, .item.image3-2, .item.image4-2, .item.image1-2 img, .item.image2-2 img, .item.image3-2 img, .item.image4-2 img {
  height: 230px;
}

.item.image1-3, .item.image2-3, .item.image3-3, .item.image4-3, .item.image1-3 img, .item.image2-3 img, .item.image3-3 img, .item.image4-3 img {
  height: 340px;
}

.item.image1-4, .item.image2-4, .item.image3-4, .item.image4-4, .item.image1-4 img, .item.image2-4 img, .item.image3-4 img, .item.image4-4 img {
  height: 470px;
}

.corner-stamp {
  position: relative;
  float: right;
}

.archivecontainer {
  float: left;
  position: relative;
  max-width: 325px;
  top: 100px;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #DADBDC;
}

.archivetitle {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.archivelist {
  position: relative;
  font-size: 12px;
  width: 210px;
  padding-left: 20px;
  background-color: #FFF;
}

.regionwhite {
  float: left;
  position: relative;
  top: 85px;
  left: 45px;
  max-width: 430px;
  width: 100%;
}

.texttitle, .textsubtitle, .textdate, .textcontent {
  position: relative;
  max-width: 430px;
  width: 100%;  
}

.texttitle {
  text-transform: uppercase;
}

.textcontent {
  text-align: justify;
}

.contactcontainer {
  float: left;
  position: relative;
  max-width: 290px;
  top: 100px;
  width: 100%;
  height: 415px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: #DADBDC;
}

.contact {
  text-transform: uppercase;
}

.eventcontainer {
  float: left;
  position: relative;
  max-width: 410px;
  top: 100px;
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-bottom: 50px;
  background-color: #000;
}

.eventcontainertitle {
  position: relative;
  left: -30px;
  text-align: center;
  font-size: 32px;
  color: #FFF;
  text-transform: uppercase;  
}

.eventsingle {
  position: relative;
  max-width: 350px;
  width: 100%;
  left: -10px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  height: auto;
  background-color: #FFF;
}

.eventsingledate {
  position: relative;
  font-size: 20px;
  left: -10px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.eventsingletitle {
  font-size: 13px;
  text-transform: uppercase;
}

.eventsingledesc {
  font-size: 13px;
}

.newsarchive {
  float: left;
  position: absolute;
  max-width: 110px;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;  
}

.newscontainer {
  float: left;
  position: relative;
  max-width: 440px;
  top: 100px;
  width: 100%;
  height: auto;
  left: 30px;
  background-color: #FFF;  
}

.newssingle {
  float: left;
  position: relative;
}

.newssingletitle {
  font-size: 17px;
  text-transform: uppercase;
}

.newssingledate {
  font-size: 16px;
  margin-bottom: 20px;
}

.newssingledesc {
  margin-bottom: 20px;
}

.newssingleimg img {
  width: 230px;
}

.hrnews {
  border: none; 
  border-top: 1px dashed black; 
  height: 1px; 
  color: black; 
  background: transparent 
}

.portraitimg

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
