<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/8570429e-ca28-4be9-a4a4-e9b81d883afa.css"/>
</head>
<body>
    <div class ="page">
        <div id="title">
            <a href="/">
                <img src="{{ STATIC_URL }}img/unterschrift.png" />
                <div id="hr">
                    <img src="{{ STATIC_URL }}img/strich.png" />
                </div>
            </a>
        </div>
        <div id="sociallinks">
            <a href="https://www.facebook.com/ruewid?fref=ts" target="_blank">
                <img src="{{ STATIC_URL }}img/Facebook.jpg" />
            </a>
            <a href="https://twitter.com/RuediWidmer" target="_blank">
                <img src="{{ STATIC_URL }}img/Twitter.jpg" />
            </a>            
        </div>
        <div class="nav">
            <a href="/"><div id="cartoonimg"></div></a>
            <a href="/column"><div id="texteimg"></div></a>
            <a href="/news"><div id="newsimg"></div></a>
            <a href="/portrait"><div id="portraitimg"></div></a>
            <a href="/contact"><div id="kontaktimg"></div></a>
        </div>
        {% block cartoons %}
        {% endblock %}
        {% block text %}
        {% endblock %}
        {% block news %}
        {% endblock %}
        {% block portrait %}
        {% endblock %}
        {% block contact %}
        {% endblock %}
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
<script src="{{ STATIC_URL }}js/isotope.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
<script src="{{ STATIC_URL }}js/eventslider.js"></script>
<script src="{{ STATIC_URL }}js/columnslider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.fancybox.pack.js?v=2.1.4"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/helpers/jquery.fancybox-media.js?v=1.0.5"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}lib/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
</body>
</html>