<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
    <div class ="page">
        <div id="title">
            <a href="/">
                <img src="{{ STATIC_URL }}img/unterschrift.png" />
                <div id="hr">
                    <img src="{{ STATIC_URL }}img/strich.png" />
                </div>
            </a>
        </div>
        <div id="sociallinks">
            <a href="https://www.facebook.com/ruewid?fref=ts" target="_blank">
                <img src="{{ STATIC_URL }}img/Facebook.jpg" />
            </a>
            <a href="https://twitter.com/RuediWidmer" target="_blank">
                <img src="{{ STATIC_URL }}img/Twitter.jpg" />
            </a>            
        </div>
        <div class="nav">
            <div id="cartoonimg">
                <a href="/"><img src="{{ STATIC_URL }}img/cartoons.png" /></a>
            </div>
            <div id="acartoon">
                <a href="/">Cartoons</a>
            </div>
            <div id="texteimg">
                <a href="/column"><img src="{{ STATIC_URL }}img/texte.png" /></a>
            </div>
            <div id="atexte">
                <a href="/column">Texte</a>
            </div>
            <div id="newsimg">
                <a href="/news"><img src="{{ STATIC_URL }}img/news.png" /></a>
            </div>
            <div id="anews">
                <a href="/news">News</a>
            </div>
            <div id="portraitimg">
                <a href="/portrait"><img src="{{ STATIC_URL }}img/portrait.png" /></a>
            </div>
            <div id="aportrait">
                <a href="/portrait">Portrait</a>
            </div>
            <div id="kontaktimg">
                <a href="/contact"><img src="{{ STATIC_URL }}img/kontakt.png" /></a>
            </div>
            <div id="akontakt">
                <a href="/contact">Kontakt</a>
            </div>
        </div>
        {% block cartoons %}
        {% endblock %}
        {% block text %}
        {% endblock %}
        {% block news %}
        {% endblock %}
        {% block portrait %}
        {% endblock %}
        {% block contact %}
        {% endblock %}
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
<script src="{{ STATIC_URL }}js/isotope.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
</body>
</html>