{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="illuimg">Illustration</div></a>
        <a href="/grafik"><div id="grafikimg">Grafik</div></a>
        <a href="/aktuell"><div id="aktuellimg">Aktuell</div></a>
        <a href="/portrait"><div id="portraitimg">Portrait</div></a>
        <a href="/contact"><div id="kontaktimgactive">Kontakt</div></a>
    </div>
{% endblock %}
{% block contact %}
    <div class="contactcontainer">
        <div class="contact">
            Samuel Jordi<br>
            Metzggasse 14<br>
            8400 Winterthur<br><br>
            Natel +41 79 673 15 09<br>
            Tel +41 52 202 06 28<br><br>
        </div>
            sj@sajo.ch
    </div>
{% endblock %}