{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="illuimg">Illustration</div></a>
        <a href="/grafik"><div id="grafikimgactive">Grafik</div></a>
        <a href="/aktuell"><div id="aktuellimg">Aktuell</div></a>
        <a href="/portrait"><div id="portraitimg">Portrait</div></a>
        <a href="/contact"><div id="kontaktimg">Kontakt</div></a>
    </div>
{% endblock %}
{% block grafik %}
    <div id="container">
        {% for cartoon in cartoons %}
            <div class="item image{{ cartoon.width }}-{{ cartoon.height }} {{ cartoon.category }}">
                {% if cartoon.image %}
                <a class="fancybox" title="<h4>{{ cartoon.category }} vom {{ cartoon.date|date:"d.F Y" }}</h4> {{ cartoon.description }}" rel="group" href="{{ cartoon.image.url }}">
                    <img src = "{{ cartoon.image.url }}">
                <div class="imagetext">
                    <b>{{ cartoon.category }}</b></br>
                    {{ cartoon.date|date:"d. F Y" }}
                </div>
                </a>
                {% endif %}
            </div>
        {% endfor %}
        {% for category in categories %}
            <div class="item category {{ category.name }}" title="{{ category.name }}">
                {{ category.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}