{% block illustration_detail %}
    <div class="cartoon_detail_ajax">
        {% if cartoon.image %}
            <img src = "{{ cartoon.image.url }}">
        {% endif %}
        <div class="ajaxtext">
            <h4>{{ cartoon.category }} vom {{ cartoon.date|date:"d.F Y" }}</h4>
            {{ cartoon.description }}
            <iframe src="//www.facebook.com/plugins/like.php?href={{ request.build_absolute_uri|urlencode }}&amp;send=false&amp;layout=standard&amp;width=260&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=recommend&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:35px;" allowTransparency="true"></iframe>
        </div>
        <br>
        <br>
    </div>
{% endblock %}