{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="cartoonimgactive"></div></a>
        <a href="/column"><div id="texteimg"></div></a>
        <a href="/news"><div id="newsimg"></div></a>
        <a href="/portrait"><div id="portraitimg"></div></a>
        <a href="/contact"><div id="kontaktimg"></div></a>
    </div>
{% endblock %}
{% block cartoons %}
    <div id="container">
        {% if featured.first_image %}
        <a href="/news">
            <div class="item image4-4">
                    <img src = "{{ featured.first_image.image.url }}" height="{{ featured.first_image.image.height }}" width="{{ featured.first_image.image.width }}">
                <div class="supernews">
                    <img src="{{ STATIC_URL }}img/superpost.png" />
                </div>
            </div>
        </a>
        {% endif %}
        {% for cartoon in cartoons %}
            <div class="item image{{ cartoon.width }}-{{ cartoon.height }}">
                {% if cartoon.image %}
                <a class="fancybox" rel="group" href="{{ cartoon.image.url }}">
                    <img src = "{{ cartoon.image.url }}">
                </a>
                {% endif %}
            </div>
        {% endfor %}

        {% for category in categories %}
            <div class="item category">
                {{ category.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
