{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="illuimgactive">Illustration</div></a>
        <a href="/grafik"><div id="grafikimg">Grafik</div></a>
        <a href="/aktuell"><div id="aktuellimg">Aktuell</div></a>
        <a href="/portrait"><div id="portraitimg">Portrait</div></a>
        <a href="/contact"><div id="kontaktimg">Kontakt</div></a>
    </div>
{% endblock %}
{% block cartoons %}
    <div id="container">
        {% for cartoon in cartoons %}
            {% if cartoon.image %}
                <div class="item image{{ cartoon.width }}-{{ cartoon.height }} {{ cartoon.category }}">
                    {% if cartoon.image %}
                    <a class="fancybox" href="{{ cartoon.get_absolute_url }}" rel="cartoon">
                        <img src = "{{ cartoon.image.url }}">
                        <div class="imagetext">
                            <b>{{ cartoon.category }}</b></br>
                            {{ cartoon.date|date:"d. F Y" }}
                        </div>
                    </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="item category {{ cartoon.name }}" title="{{ cartoon.name }}">
                    {{ cartoon.name }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
