{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="cartoonimg"></div></a>
        <a href="/column"><div id="texteimg"></div></a>
        <a href="/news"><div id="newsimgactive"></div></a>
        <a href="/portrait"><div id="portraitimg"></div></a>
        <a href="/contact"><div id="kontaktimg"></div></a>
    </div>
{% endblock %}
{% block news %}
    <div class="eventall">
        <div class="eventouter">
            <div class="eventinner">
            {% regroup events by month as month_list %}
            {% for month in month_list %}
                <div class="eventcontainer">
                    <div class="eventcontainertitle">
                        <div class="navleft">
                            <
                        </div>
                        {{ month.grouper }}
                        <div class="navright">
                            >
                        </div>
                    </div>
                    {% for event in month.list %}
                        <div class="eventsingle">
                            <div class="eventsingledate">
                                {{ event.date|date:"d F" }}
                            </div>
                            <div class="eventsingletitle">
                                <b>{{ event.title }}</b><br>
                                -----
                            </div>
                            <div class="eventsingledesc">
                                {{ event.text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="newsarchiveall">
            {% regroup newsall by year as year_list %}
            {% for year in year_list %}
                <a href="{% url 'ruediwidmerch.views.newsyear' year=year.grouper %}">
                    <div class="newsarchive {% if year.grouper == currentyear %}active{% endif %}">
                        {{ year.grouper }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="newslist">
        {% if featured %}
            <div class="newscontainer">
                <div class="newssingle">
                    <div class="newssingletitle">
                        <b>{{ featured.title }}</b><br>
                        -----
                    </div>
                    <div class="newssingledate">
                        {{ featured.date|date:"d.m.Y" }}
                    </div>
                    <div class="supernews2">
                        <img src="{{ STATIC_URL }}img/superpost.png" />
                    </div>
                    <div class="newssingledesc">
                        {{ featured.text }}
                    </div>
                    <div class="newssingleimg">
                        {% if featured.first_image %}
                            <img src = "{{ featured.first_image.image.url }}">
                        {% endif %}
                    </div>
                    <hr class="hrnews">
                </div>
            </div>
        {% endif %}
        {% for news in newss %}
        <div class="newscontainer">
            <div class="newssingle">
                <div class="newssingletitle">
                    <b>{{ news.title }}</b><br>
                    -----
                </div>
                <div class="newssingledate">
                    {{ news.date|date:"d.m.Y" }}
                </div>
                <div class="newssingledesc">
                    {{ news.text }}
                </div>
                <div class="newssingleimg">
                {% for image in news.images.all %}
                    <img src = "{{ image.image.url }}">
                {% endfor %}
                </div>
                <hr class="hrnews">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}