{% extends "base.html" %}
{% block news %}
    <div class="eventouter">
        <div class="eventinner">
        {% regroup events by month as month_list %}
        {% for month in month_list %}
                <div class="eventcontainer">
                    <div class="eventcontainertitle">
                        <div class="navleft">
                            <
                        </div>
                        {{ month.grouper }}
                        <div class="navright">
                            >
                        </div>
                    </div>
                    {% for event in month.list %}
                        <div class="eventsingle">
                                <div class="eventsingledate">
                                    {{ event.date|date:"d F" }}
                                </div>
                                <div class="eventsingletitle">
                                    <b>{{ event.title }}</b><br>
                                    -----
                                </div>
                                <div class="eventsingledesc">
                                    {{ event.text }}
                                </div>
                        </div>
                    {% endfor %}
                </div>
        {% endfor %}
        </div>
    </div>

    <div class="newsarchiveall">
        {% regroup newsall by year as year_list %}
        {% for year in year_list %}
            <a href="{% url 'ruediwidmerch.views.newsyear' year=year.grouper %}">
                <div class="newsarchive">
                        {{ year.grouper }}
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="newslist">
        {% for news in newss %}
        <div class="newscontainer">
            <div class="newssingle">
                <div class="newssingletitle">
                    <b>{{ news.title }}</b><br>
                    -----
                </div>
                <div class="newssingledate">
                    {{ news.date|date:"d.m.Y" }}
                </div>
                <div class="newssingledesc">
                    {{ news.text }}
                </div>
                <div class="newssingleimg">
                </div>
                <hr class="hrnews">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}