{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="cartoonimg"></div></a>
        <a href="/column"><div id="texteimg"></div></a>
        <a href="/news"><div id="newsimg"></div></a>
        <a href="/portrait"><div id="portraitimgactive"></div></a>
        <a href="/contact"><div id="kontaktimg"></div></a>
    </div>
{% endblock %}
{% block portrait %}
    <div id="container">
        <div class="item imagecorner">
            <img src="{{ STATIC_URL }}img/ruedi.png" />
        </div>
        {% for portrait in portraits %}
            <div class="portrait">
                <div class="item portrait portrait{{ portrait.width }}-{{ portrait.height }}">
                    <div class="portraittitle">
                        {{ portrait.title|safe }}
                    </div>
                    <div class="portraitsubtitle">
                        {{ portrait.subtitle }}
                    </div>
                    <div class="portraitdesc">
                        {{ portrait.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}