{% extends "base.html" %}
{% block nav_cartoon %}
    <div class="nav">
        <a href="/"><div id="illuimg">Illustration</div></a>
        <a href="/grafik"><div id="grafikimg">Grafik</div></a>
        <a href="/aktuell"><div id="aktuellimg">Aktuell</div></a>
        <a href="/portrait"><div id="portraitimgactive">Portrait</div></a>
        <a href="/contact"><div id="kontaktimg">Kontakt</div></a>
    </div>
{% endblock %}
{% block portrait %}
    <div id="container">
        <div class="item imagecorner">
            <img src="{{ STATIC_URL }}img/jordi.jpg" />
        </div>
        {% for portrait in portraits %}
            <div class="portrait">
                <div class="item portrait portrait{{ portrait.width }}-{{ portrait.height }}">
                    <div class="portraittitle">
                        {{ portrait.title|safe }}
                    </div>
                    <div class="portraitsubtitle">
                        {{ portrait.subtitle }}
                    </div>
                    <div class="portraitdesc">
                        {{ portrait.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}