{% extends "base.html" %}
{% block nav_cartoon %}
<div class="nav">
    <a href="/"><div id="cartoonimg"></div></a>
    <a href="/column"><div id="texteimgactive"></div></a>
    <a href="/news"><div id="newsimg"></div></a>
    <a href="/portrait"><div id="portraitimg"></div></a>
    <a href="/contact"><div id="kontaktimg"></div></a>
</div>
{% endblock %}
{% block text %}
    <div class="archiveall">
        <div class="archiveouter" data-textindex="0">
            <div class="archiveinner">

            {% regroup columns by year as year_list %}
            {% for year in year_list %}
                
                <div class="archivecontainer">
                    <div class="archivetitle">
                        <div class="navleft2">
                            <
                        </div>
                        Kolumne {{ year.grouper }}
                        <div class="navright2">
                            >
                        </div>
                    </div>
                    {% for column in year.list %}
                    <a href={{ column.get_absolute_url }}>
                        <div class="archivelist {% if column.title == currentcolumn %}active{% endif %}">
                            <br>
                            <div class="texttitle">
                                <b>{{ column.title }}</b><br>
                                <b>---</b><br>
                                {{ column.magazine }} vom {{ column.date|date:"d.m.Y" }}
                            </div>
                            <br>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                
            {% endfor %}
            </div>
        </div>
    </div>
<div class="regioncenter">
    <div class="regionwhite">
        <div class="texttitle">
            <p><b>{{ newest.title }}</b></p>
        </div>
        <div class="textsubtitle">
            {{ newest.subtitle }}<br>
            <b>---</b>
            <div class="textdate">
                <b>{{ newest.magazine }} vom {{ newest.date|date:"d b Y" }}</b>
            </div>
        </div>
        <div class="textcontent">
            <p>{{ newest.text }}</p>
        </div>
    </div>
</div>
{% endblock %}